<div class="aspect-square bg-zinc-100 rounded-xl p-4 flex flex-col 
    items-center justify-center text-center gap-8 shadow border-2
    border-[#32BC9B] transition duration-200 hover:scale-105 
    hover:-translate-y-1 hover:shadow-lg cursor-pointer" 
    
    (click)="open()">

    <div class="text-3xl">
        <h2>{{ module.icon }}</h2>
    </div>

    <div>
        <h2 class="text-md md:text-lg lg:text-xl font-semibold">{{ module.title }}</h2>
        <p class="text-sm md:text-base lg:text-lg text-gray-500">{{ module.description }}</p>
    </div>

</div>
