<div class="flex flex-col items-center justify-center min-h-[70vh]">
    <h1 class="text-4xl font-bold mb-12">Round: {{ round() }}</h1>
    <div class="grid grid-cols-3 gap-4">
        @for (card of cards; track card) {
            @if (card === activeCard()) {
                <div class="bg-blue-500 min-w-24 h-24 border-2 rounded-2xl animate-pulse cursor-pointer" (click)="selectCard(card)"></div>
            }
            @else if (gameOver()) {
                <div class="bg-red-500 min-w-24 h-24 border-2 rounded-2xl animate-pulse pointer-events-none"></div>
            }
            @else if (card === clickedCard() && isCorrectClick()) {
                <div class="bg-green-500 min-w-24 h-24 border-2 rounded-2xl animate-pulse pointer-events-none"></div>
            }
            @else {
                <div class="bg-zinc-50 min-w-24 h-24 border-2 rounded-2xl cursor-pointer" (click)="selectCard(card)"></div>
            }
        }
    </div>

</div>
<div class="flex items-center justify-center">
    @if (isPlaying()) {
        <p class="animate-pulse text-zinc-700">Decore a sequência...</p>
    }
    @else {
        <p class="text-zinc-700">Sua vez!</p>
    }
</div>