<div class="flex flex-col gap-4 md:gap-2 md:flex-row justify-between items-center p-6 border-b border-zinc-400 bg-white">
    <h1 class="text-lg font-bold cursor-pointer hover:text-zinc-500 flex flex-row gap-2 items-center justify-center" (click)="navigateToHome()">
        <lucide-angular [img]="Brain" class="w-10 h-10 text-[#32BC9B]"></lucide-angular> Plataforma Educativa
    </h1>
    <div class="flex flex-row gap-2">
        <button class="border-2 text-black border-black hover:bg-zinc-100 
            px-4 py-2 rounded cursor-pointer" (click)="navigateToDescriptions()">
            Descrição
        </button>
        <button class="bg-[#32BC9B] text-white hover:bg-[#28A17B]
            px-4 py-2 rounded cursor-pointer" (click)="navigateToTeam()">
            Equipe  
        </button>    
    </div>
</div>